@font-face {
    font-family: valheim;
    src: url("/type/Norse.otf");
}

@font-face {
    font-family: valheim-bold;
    src: url("/type/NorseBold.otf");
}

@font-face {
    font-family: ptserif-bold;
    src: url("/type/PTSerif-Bold.ttf");
}

@font-face {
    font-family: ptserif;
    src: url("/type/PTSerif-Regular.ttf");
}


body {
    font-family: valheim;
    margin: 0;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, linen 0%, floralwhite 80%);
}

#pointformcontainer {
    margin-left: 3%;
    margin-top: 1%;
    padding-left: 5px;
    position: absolute;
    font-size: x-large;
    background-color: rgba(185, 198, 162, 0.5);
    border: 1px rgb(139, 202, 50) solid;
    border-radius: 15px;
}

#pointform {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 195px;
    backdrop-filter: blur(4px);
}

#x,
#y {
    width: 50px;
}

#label {
    width: 120px;
}

label {
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
select {
    border: none;
    border-bottom: 1px black solid;
    background: none;
    font-size: inherit;
    font-family: inherit;
    margin: 10px;
}

input:required:invalid {
    border-bottom-color: indianred;
    border-bottom-style: dashed;
}

form:invalid>.sub-mode {
    border-color: salmon;
    border-width: 1px;
    border-style: solid;
    color: lightgray;
}

form:invalid>.sub-mode:hover {
    color: lightgray;
}

.sub-mode:disabled, .sub-mode:disabled:hover {
    color: ghostwhite;
}

input:required:valid {
    border-bottom-color: olivedrab;
}

label {
    color: darkslategrey;
}

input[type=submit] {
    color: lightslategray;
    border: none;
    font-family: valheim-bold;
    background-color: snow;
    border-radius: 5px;
}

.sub-mode:focus,
.sub-mode:hover {
    color: darkslategray;
}

.sub-mode:active {
    color: darkblue;
}

#list {
    position: absolute;
    margin-left: 3%;
    margin-top: 275px;
    padding-left: 5px;
    overflow-y: auto;
    height: 600px;
}

#list::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.listli {
    list-style-type: none;
}

.polyitem {
    width: 195px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(255, 250, 240, .7);
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px snow solid;
    backdrop-filter: blur(4px);
}

.polyitem:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.polysize {
    background-color: lightgrey;
    width: 25px;
    border-radius: 10px;
    text-align: center;
    padding-top: 2px;
}

.pointset {
    font-size: 0.7em;
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

input:focus {
    outline: none;
}

.pointitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 2px;
}

.pointitem:hover {
    background-color: lightgray !important;
}

.pointitem { background-color: snow; }
.pointitem:nth-child(odd) { background-color: rgb(255, 252, 245); }
