@font-face {
    font-family: valheim;
    src: url("/type/Norse.otf");
}

@font-face {
    font-family: valheim-bold;
    src: url("/type/NorseBold.otf");
}

body {
    font-family: valheim;
}

#map {
    outline: 1px black solid;
    display: inline-block;
}

#fcontainer {
    display: inline-block;
    vertical-align: top;
    font-size: x-large;
}

#x, #y {
    width: 50px;
}

#label {
    width: 120px;
}

label {
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, select {
    border: none;
    border-bottom: 1px black solid;
    background: none;
    font-size: inherit;
    font-family: inherit;
    margin: 10px;
}

input:required:invalid {
    border-bottom-color: indianred;
    border-bottom-style: dashed;
}

form:invalid>.sub-mode {
    border-color: salmon;
    border-width: 1px;
    border-style: solid;
    color: lightgray;
}

input:required:valid {
    border-bottom-color: olivedrab;
}

label {
    color:darkslategrey;
}

input[type=submit] {
    color: lightslategray;
    border: none;
    font-family: valheim-bold;
    background-color: snow;
    border-radius: 5px;
}

.sub-mode:focus, .sub-mode:hover {
    color: darkslategray;
}


input:focus {
    outline: none;
}

#points {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 203px;
}
